/* 顶部导航条样式 */
.top-bar-wrapper {
    /* body多块就有多宽 */
    width: 100%;
    background-color: #333;
    height: 40px;
    line-height: 40px;
}

/* 设置超链接颜色 */
.top-bar a {
    text-decoration: none;
    font-style: 12px;
    color: rgb(236, 233, 233);
    display: block;

}

.top-bar a:hover {
    color: #fff;
}

/* 中间的分割线 */
.top-bar .line {
    color: #424242;
    font-size: 14px;
    margin: 0 8px;
}

/* 设置左侧导航栏 */
.service,
.top-bar li {
    float: left;
}

/* 登录等和购物车样式 */
.shop-cart,
.user-info {
    float: right;
}

/* 设置购物车样式 */
.shop-cart a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a {
    background-color: #fff;
    color: #ff6700;
}

.shop-cart {
    margin-left: 26px;
}

.app {
    position: relative;
}

/* 设置app下的小三角 */
/* .app-wrapper:hover > .app::after{ */
.app::after {
    content: '';
    display: none;
    /* 设置绝对定位 */
    position: absolute;
    width: 0;
    height: 0;
    /* 设置四个方向的边框 transparent透明*/
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 left right margin auto会自动调整就居中了*/
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app:hover .qrcode,
.app:hover::after {
    display: block;
    height: 148px;
}

/* 下载APP下拉层 */
.app .qrcode {
    /* display: none; */
    position: absolute;
    left: -40px;
    width: 124px;
    /* height: 148px;0配合ofh达到隐藏目的，通过高度来改，容易实现动画效果。 */
    height: 0;
    overflow: hidden;
    /* margin-left: -62px; */
    line-height: 1;
    text-align: center;
    background-color: #fff;
    /* 设置阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

    /* transition: 高度发生变化利用0.3s完成 */
    transition: height 0.3s;

    z-index: 9999;
}

/* 设置二维码图片 */
.app .qrcode img {
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}

/* 设置二维码中的文字 */
.app .qrcode span {
    font-size: 14px;
    color: #000;
}

/* 购物车 */
.shop-cart a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a {
    background-color: #fff;
    color: #FF6700;
}

.shop-cart i {
    margin-right: 2px;
}

.fa-shopping-cart {
    position: relative;
}

/* 设置下拉层 */
.fa-shopping-cart .shop-down {
    position: absolute;
    width: 320px;
    height: 0px;
    top: 27px;
    left: -219px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    
}

li:hover .shop-down {
    height: 100px;
    transition: height 0.5s;
    background-color: #fff;
    z-index: 99999;
}

/* 设置中间的头部 */
.header {
    height: 100px;
}

/* 头部中的logo */
.header .logo {
    float: left;
    margin-top: 22px;
    /* margin-left: 20px; */
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    /* 缩进隐藏文字 */
    text-indent: -99999px;
}

/* logo里面的超链接 */
.header .logo a {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff6700;
    background-image: url(../img/mi-logo.png);
    background-position: center;
    left: 0;
    transition: left 0.3s;

}

.header .logo .home {
    background-image: url(../img/mi-home.png);
    left: -50px;
}

.header .logo:hover .mi {
    left: 50px;
}

.header .logo:hover .home {
    left: 0;
}


/* 设置中间导航条 .nav-wrapper .nav li a .all-goods .goods-info*/
.header-wrapper {
    position: relative;
}

.header .nav-wrapper {
    float: left;
    margin-left: 6px;

}

/* 设置导航条 */
.header .nav {
    /* width: 850px; */
    height: 100px;
    line-height: 100px;
    padding-left: 58px;

}

/* 设置导航挑中的li */
.nav>li {
    float: left;
    margin-right: 20px;

}
.nav-wrapper{
    position: relative;
    /* border:1px solid blue; */
}
/* 左侧导航条的样式 
.left-menu左侧导航列表ul 
.fa-angle-right左侧导航列表 中的li 中的a 中的文字图片*/
.left-menu{
    width: 234px;
    height: 420px;
    padding:20px 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index:999;
    left: -58px;
    line-height: 100%;

    
}

ul.left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;
}
ul.left-menu li a:hover{
    color: white;
    background-color: #FF6700;
}
.left-menu a i{
    float: right;
    line-height: 42px;
}



.nav-wrapper li a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.nav-wrapper li a:hover{
    color: #FF6700;
}

/* 隐藏全部商品 */
.all-goods {
    /* 也会隐藏不会占据位置 不同于d none */
    visibility: hidden;
}


.nav .goods-info{
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    transition: height 0.3s;
    z-index: 9999;
    
}
 /* 这个一定要写在上面那个下面，不然下拉层浮不上去 两种都是可以 */
.nav li:not(:first-child,:last-of-type,:nth-child(9)):hover~.goods-info,
.goods-info:hover {
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}

/* 头部的右边  .search-wrapper最后一段容器 .search容器包含的表单 .search-inp表单里面的搜索框
 .button表单里面的按钮 .fas按钮里面的文字图片*/
.search-wrapper{
    float:right;
    width: 296px;
    height: 50px;
    margin-top: 25px;

}

.search-wrapper .search-inp{
    box-sizing: border-box;
    float:left;
    padding:0 10px;
    width: 242px;
    height: 50px;
    border:none;
    font-size: 16px;
    border:1px solid rgb(224, 224, 224);
    outline:none;
}

/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
    border-color: #FF6700;
}


.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}
.search-wrapper .search-btn:hover{
    background-color: #FF6700;
    color: white;
    border: none;
}

/* 第三层
最外面.banner-wrapper
然后是.banner
然后是列表.img-list 包含li a img 兄弟有.pointer .prev-next 圆点和箭头
*/
.banner{
    position: relative;
    height: 460px;
}

.banner .img-list li{
    position: absolute;
}
.banner img{
    width: 100%;
    vertical-align: top;
}
.pointer{
    position: absolute;
    bottom:35px;
    left:1040px;
    

    
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    margin-left:6px;
    
    
}
.pointer a:hover,
.pointer a.active{
    border-color: rgba(0, 0, 0, .4);
    background-color:rgba(255, 255, 255, .4);
}

/* 设置箭头 */
.prev-next a{
    background-image: url(../img/icon-slides.png); 
    width: 42px;
    height: 66px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;

}
.prev-next .prev{
    left: 234px;
    background-position: -84px 0;
}
.prev-next .prev:hover{
    background-position: 0 0;
}


.prev-next .next{
    right: 0;
    background-position: -125px 0;
}
.prev-next .next:hover{
    background-position: -42px 0;
}

/* 回到顶部 */
.to-top{
    position: fixed;
    width: 26px;
    height: 206px;
    background-color: #fff;
    bottom: 60px;
    right: 50%;
    margin-right: -639px;
    border:1px solid red;
}

/* 设置下部的广告区域 */
.ad{
    height: 170px;
    margin-top: 14px;
}

.ad .shortcut,
.ad .imgs,
.ad li{
    float: left;
}

/* 设置左侧快捷方式 */
.ad .shortcut{
    width: 228px;
    height: 168px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    padding-left: 6px;
}
.ad .shortcut li{
    position: relative;
}

/* 设置上边框 */
.ad .shortcut li::before{
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #665e57;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto
}

/* 设置左边框 */
.ad .shortcut li::after{
    content: '';
    position: absolute;
    height: 70px;
    width: 1px;
    background-color: #665e57;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0;

}

/* 设置快捷方式中的超链接 */
.ad .shortcut a{
    display: block;
    color: #cfccca;
    height: 84px;
    width: 76px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}

.ad .shortcut a:hover{
    color: #fff;
}

/* 设置图标字体 */
.ad .shortcut i{
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 20px;
}


/* 设置左侧的图片 */
.ad .imgs li{
    width: 316px;
    margin-right:15px; 
}

.ad .imgs li:last-child{
    margin: 0;
}

.ad .imgs img{
    width: 100%;
    vertical-align: top;
}